<template name="post_submit">

  <div class="grid grid-module">
  <h4>Try entering the name of a wine from <a class='post_submit_link' href="http://www.wine.com/" title='Wine.com' target='_blank'>Wine.com</a> or <a class='post_submit_link' href="http://snooth.com/" title='Snooth.com' target='_blank'>Snooth.com</a> as your title.  This title will be searched against their database to provide more info about the wine you post!</h4>
  <hr>
  <p>Currently Wine Hunt is in early development so the search for title's only like exact matches or something close. <span class="red">*One last thing, you shouldn't enter a URL!</span></p>
  </div>
  <div class="grid grid-module">
    {{> quickForm collection="Posts" id="submitPostForm" template="telescope" label-class="control-label" input-col-class="controls" type="method" meteormethod="submitPost"}}
  </div>
  
</template>