
<template name="winedetails">
	  
	<div class="grid grid-module">
	  
	  <h4>Wine Details</h4>
	  
	  <hr>
	  
	  <div class='box'>
			<img src="{{winedotcomData.Vineyard.ImageUrl}}"/>
			<p>Vineyard: 
			<a href="{{winedotcomData.Vineyard.Url}}" title='{{winedotcomData.Vineyard.Name}}'>
			{{winedotcomData.Vineyard.Name}}
			</a>
			</p>
		</div>
		
		<div>
	    {{#each winedotcomData.Labels}}
				<img src="{{Url}}"/>
			{{/each}}
	  </div>
	  <p>
	  {{winedotcomData.Description}}
		<p><a href="{{winedotcomData.Url}}" title='Purchase from Wine.com'>Purchase from Wine.com</a> for ${{winedotcomData.PriceRetail}}</p>
		<p>type: {{winedotcomData.Type}}</p>
		<p>Vintage: {{winedotcomData.Year}}</p>
		<p>Appellation: {{winedotcomData.Appellation.Name}}</p>
		<p>Product Attributes name: {{winedotcomData.ProductAttributes.Name}}</p>
		<p>Varietal: {{winedotcomData.Varietal.Name}}</p>
		<p>Attribute: {{winedotcomData.winedotcomDataAttribute.Name}}</p>
		<p>Label: {{winedotcomData.Label.Name}}</p>
		<p>Highest Score: {{winedotcomData.Ratings.HighestScore}}</p>
		<p>Ratings name: {{winedotcomData.Ratings.Rating.mame}}</p>
		<p>Rating Score: {{winedotcomData.Rating.Score}}</p>
		<p>Vintage name: {{winedotcomData.Vintages.Vintage.Name}}</p>
		<p>Vintage Rating: {{winedotcomData.Vintages.Vintage.Ratings}}</p>
		<p>Highest Score: {{winedotcomData.Community.Reviews.HighestScore}}</p>
		</p>
	</div>

	<div class="grid grid-module"> 
		<img src="{{snoothData.image}}"/>

		<p>Name: {{snoothData.name}}</p>
		<p>Price: {{snoothData.price}}</p>
		<p>Snooth Rank: {{snoothData.snoothrank}}</p>
		<p>Region: {{snoothData.region}}</p>
	</div>

</template>