
<template name="winedetails">
	  
	<div class="grid grid-module"> 
	  
	  <div class="grid-box one">	
			<div class='winedetails_label'>
		    {{#each winedotcomData.Labels}}
					<img src="{{Url}}"/>
				{{/each}}
		  </div>
			<hr>
			<p><span class="grid-box-title">type:</span> {{snoothData.type}}</p>
			<p><span class="grid-box-title">varietal:</span> {{snoothData.varietal}}</p>
			<hr>
			<p><span class="grid-box-title">vintage:</span> {{snoothData.vintage}}</p>
			<p><span class="grid-box-title">appellation:</span> {{winedotcomData.Appellation.Name}}</p>
		</div>

		<div class="grid-box two">
			<a class='grid-box-vendor-logo' href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts"><img src="http://cache.wine.com/images/logos/80x80_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
			<hr>
			<p><a href="{{winedotcomData.Url}}" title='Purchase from Wine.com'>Purchase from Wine.com</a> for ${{winedotcomData.PriceRetail}}</p>
			<p><span class="grid-box-title">highest score</span>: {{winedotcomData.Ratings.HighestScore}}</p>
			<p><span class="grid-box-title">community score</span>: {{winedotcomData.Community.Reviews.HighestScore}}/5 Stars</p>
		</div>
		
		<div class="grid-box three">
			<a class='grid-box-vendor-logo' href="http://www.snooth.com/" title="Snooth | Buy Wine Online - Wine Ratings - Gift Wine - Wine Recommendations"><img src="/img/snooth_logo.gif" alt="Snooth | Buy Wine Online - Wine Ratings - Gift Wine - Wine Recommendations" /></a>
			<hr>
			<p><a href="{{snoothData.link}}" title='{{snoothData.name}}' target='_blank'>Purchase from Snooth.com</a> at ${{snoothData.price}}</p>
			<p><span class="grid-box-title">rank:</span> {{snoothData.snoothrank}}</p>
			<p><span class="grid-box-title">reviews:</span> {{snoothData.num_reviews}}</p>
		</div>

	</div> 
</template>