/*
**
*** Wine Details
**
*/


/* Grid Box
*/
.grid-box
{
	padding: 1em;
	margin: 0 auto;
	min-width: 200px;
	min-height: 50px;
	border-bottom: 1px solid #e7eff2;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	border-radius: 3px;
	background: themeColor(three);
	p { text-align: center; }
}

.grid-box-line
{
	height: 1px;
	width: 100%;
	margin: 1em 0;
	background: rgb(154, 154, 154);
	display: block;
	@media (min-width: 768px) { display: none; }
}

.grid-box + .grid-box
{
	margin: 1em auto; 
}

.grid-box.one
{
	
}
.grid-box.two
{
	
}
.grid-box.three
{
	
}
.grid-box.four
{
	
}
.grid-box.five
{
	margin-bottom: 0;
}

/* Wine Label
*/
.winedetails_label img
{
	display: block;
	margin-left:auto;
  margin-right:auto;
}